@import 'styles/mixins'
@import 'styles/variables'

.article
	@include container
	margin-top: 132px

	&Head
		display: flex
		justify-content: space-between

	&Info
		& > *:not(:last-child)
			margin-bottom: 32px

	&Content
		&__image
			margin-top: 64px
			width: 100%
			overflow: hidden

			img
				width: 100%
				object-fit: contain

		&__description
			margin-top: 24px
			width: 100%
			text-align: center
			color: $c-gray

	@include desktop
		&Content
			&__image
				height: 552px

		&Stats
			width: 224px

		&Info
			width: 664px

	@include tablet
		&Stats
			width: 224px

		&Info
			width: 664px

.divider
	width: 100%
	height: 1px
	background-color: $c-divider


.about
	display: flex

	@include desktop
		& > div:first-child
			margin-right: 78px

		& > div
			flex: 1 0 293px

	@include tablet
		& > div:first-child
			margin-right: 78px

		& > div
			flex: 1 0 293px

	@include mobile
		flex-direction: column

		& > div:first-child
			margin-bottom: 24px


.next
	cursor: pointer
	margin: 64px 0
	width: 100%
	background-color: $c-black

	&Content
		@include container
		padding: 64px 0 64px

	&Text
		margin-left: auto
		h1
			color: white

	@include desktop
		&Text
			width: 566px

	@include tablet
		&Text
			width: 566px