@import 'styles/variables'
@import 'styles/mixins'

.container
	@include container

.home
	display: flex
	flex-direction: column

	span
		color: $c-gray

	a
		margin-right: 26px

	@include desktop
		width: 644px
		margin: 132px 0 128px auto

		> *:not(:last-child)
			margin-bottom: 32px

	@include tablet
		width: 511px
		margin: 132px 0 128px auto

		> *:not(:last-child)
			margin-bottom: 32px

	@include mobile
		margin-top: 128px

		> *
			margin-bottom: 24px

		a
			display: inline-block
			padding-bottom: 14px

.article
	&City
		display: flex
		flex-direction: column

		span
			margin-top: 16px
			color: $c-gray

		@include desktop
			width: 644px
			margin: 128px 0 64px auto

		@include tablet
			width: 511px
			margin: 128px 0 64px auto

	@include mobile
		&City
			text-align: center
			margin-top: 128px
